:root {
  --color-primary: white;
  --color-secondary: #ffae00;
  --font-text: "Open Sans", sans-serif;
  --font-title: "Bebas Neue", cursive;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: black;
  margin: 0 auto;
  max-width: 1400px;
  font-family: var(--font-text);
  color: white;
}

button {
  background-color: var(--color-secondary);
  border: none;
  color: black;
  padding: 15px 70px;
  font-size: 16px;
  border-radius: 5%;
  font-weight: bold;
  font-size: 16px;
}

.navbar {
  display: flex;
  /* flex-direction: row; */
  /* justify-content: space-around; */
  /* align-items: center; */
  background: rgba(0, 0, 0, 0.4);
  min-height: 50px;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 2px;
  /* column-gap: 10vh; */
  padding: 16px;
}

.navbar__group {
  display: flex;
}

.navbar__group--right {
  margin-left: auto;
}

.navbar__link {
  padding-right: 20px;
}

.navbar__toogle {
  display: none;
}

.navbar > div {
  margin-left: 10vh;
  margin-right: 10vh;
}

/* .navbar > div:nth-child(1) {
  flex: 1;
} */

/* .navbar > nav:nth-child(1) {
  flex: 3;
} */

/* .navbar > div:nth-child(3) {
  flex: 2;
} */

.logo {
  font-size: 30px;
}

/* .links > ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.links > ul > li:nth-child(4) {
  margin-right: max(10vw, 10%);
}

.links > ul > li:nth-child(5) {
  margin-left: max(10vw, 10%);
} */

.text-box {
  flex: 1;
  text-align: center;
}

.text-box > * {
  margin-top: 5%;
}

h1 {
  font-family: var(--font-title);
  font-size: 80px;
  letter-spacing: 12px;
  font-weight: bold;
}

h2 {
  font-family: var(--font-title);
  font-size: 36px;
  letter-spacing: 3px;
  font-weight: bold;
}

h3 {
  font-family: var(--font-title);
  font-size: 36px;
  letter-spacing: 3px;
  color: var(--color-secondary);
}

.intro-wrapper {
  background-image: url("assets/main-bg.jpg");
  display: flex;
  flex-direction: column;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  justify-content: space-between;
}

.the-story-box {
  text-align: center;
  margin-bottom: 25px;
}

.arrow-down {
  width: 35px;
}

.intro-wrapper {
  background-image: url("assets/main-bg.jpg");
  display: flex;
  flex-direction: column;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  justify-content: space-between;
}

.feature-images-wrapper {
  background-image: url("assets/the-games-bg.jpg");
  display: flex;
  flex-direction: column;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  padding: 10vh;
}

.slideshow-wrapper {
  display: flex;
  flex-direction: row;
}

.slideshow-wrapper > div:nth-child(1) {
  flex-basis: 60%;
}

.slideshow-wrapper > div:nth-child(2) {
  flex-basis: 100%;
}

.slideshow-images .slideshow-image {
  width: 100%;
  height: auto;
}

.feature-vtimeline-wrapper {
  background-image: url("assets/features.jpg");
  display: flex;
  flex-direction: row;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  padding: 10vh;
}

.feature-vtimeline-wrapper > div {
  flex: 1;
}

/* The actual timeline (the vertical ruler) */
.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: "";
  position: absolute;
  width: 3px;
  background-color: white;
  top: 1px;
  bottom: 0;
  left: 5%;
  margin-left: -3px;
}

/* Container around content */
.container {
  padding: 10px 40px;
  position: relative;
}

/* The circles on the timeline */
.container::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  right: -17px;
  background-color: white;
  top: 1px;
  border-radius: 50%;
  z-index: 1;
}

/* Place the container to the right */
.right {
  left: 5%;
}

/* Fix the circle for containers on the right side */
.right::after {
  left: -12px;
}

.system-requirements-wrapper {
  background-image: url("assets/requirements.png");
  display: flex;
  flex-direction: column;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  padding: 10vh;
}

.system-requirements-wrapper > div:nth-child(1) {
  padding: 5vh;
  text-align: center;
}

.system-requirements-box {
  display: flex;
  flex-direction: row;
}

.system-requirements-box > div {
  flex: 1;
}

.system-requirements-table {
  display: flex;
  flex-wrap: wrap;
}
.system-requirements-table > * {
  border: 1px solid #979797;
  padding: 20px;
  flex: 1 1 250px;
}

.top-scores-wrapper {
  background-image: url("assets/black-desert.png");
  display: flex;
  flex-direction: row;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  max-width: 100vw;
  padding: 10vh;
  align-items: center;
  justify-content: space-around;
}

.top-scores-wrapper > div:nth-child(1) > * {
  padding: 10px;
}

.cards-box > div:nth-child(1) {
  margin-left: 150px;
}

.cards-box > div:nth-child(3) {
  margin-left: 100px;
}

.card {
  background: rgba(255, 255, 255, 0.08);
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  margin: 20px;
  padding: 20px;
  justify-content: space-between;
  max-width: 75%;
}

.card__box {
  display: flex;
  flex-direction: column;
}

.card__box-header {
  display: flex;
  flex-direction: row;
}

.card__box-header > div {
  margin-right: 20px;
}

.card__box-person {
  display: flex;
  flex-direction: column;
}

.card__box-person > h3 {
  font-size: 24px;
}

.card__box-person > div:nth-child(2) {
  opacity: 50%;
}

.card__box-time {
  opacity: 50%;
  font-size: 12px;
}

.newsletter-subscribe-wrapper {
  background-color: #080a0b;
  display: flex;
  flex-direction: row;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  padding: 10vh;
  align-items: center;
  justify-content: space-around;
}

@media only screen and (max-width: 768px) {
  h1 {
    font-size: 10vw;
  }

  h2 {
    font-size: 5vw;
  }

  h3 {
    font-size: 5vw;
  }

  p {
    font-size: 4vw;
  }

  button {
    width: 50%;
    padding: 20px 20px;
  }

  /* .links {
    display: none;
  }

  .links > ul {
    list-style: none;
    display: flex;
    flex-direction: column;
  }

  .links > ul > li:nth-child(4) {
    margin-right: 0;
  }

  .links > ul > li:nth-child(5) {
    margin-left: 0;
  } */

  .navbar,
  .navbar__group {
    flex-direction: column;
  }

  .navbar__group {
    display: none;
  }

  .navbar__group--right {
    margin-left: 0;
  }

  .navbar__toogle--show {
    margin-top: 20px;
    display: flex;
    text-align: right;
  }

  .navbar__toogle--show > div {
    padding: 10px;
  }

  .navbar__toogle {
    align-self: flex-end;
    display: initial;
    position: absolute;
    cursor: pointer;
  }

  .slideshow-wrapper {
    display: flex;
    flex-direction: column;
  }

  /* Place the timelime to the left */
  .timeline::after {
    left: 31px;
  }

  /* Full-width containers */
  .container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

  /* Make sure that all arrows are pointing leftwards */
  .container::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }

  /* Make sure all circles are at the same spot */
  .right::after {
    left: 20px;
  }

  /* Make all right containers behave like the left ones */
  .right {
    left: 0%;
  }

  .top-scores-wrapper {
    flex-direction: column;
  }

  .cards-box > div:nth-child(1) {
    margin-left: unset;
  }

  .cards-box > div:nth-child(2) {
    margin-left: unset;
  }

  .cards-box > div:nth-child(3) {
    margin-left: unset;
  }
}
